<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="../stylesheets/sucess.css" />
    <title>Portal do Artista</title>
  </head>

  <body>
    <header><%- include('partials/navbar.ejs') %></header>
    <main style="display: flex; align-items: center; flex-direction: column;">
        <span>Edital <%= edital.id %> criado com sucesso. </span>
        <span>Data de criação: <%= edital.creationDate %> </span>

    </main>
    <script>  
      
    </script>
    <%- include('partials/vlibras.ejs') %> <%- include('partials/footer.ejs') %>
  </body>
</html>
