<head>
    <link rel="stylesheet" href="/stylesheets/edital.css">
    <script defer src="/javascripts/notice.js"></script>
</head>

<main>
    <div id="content" , name="content" , class="container">
        <div class="row justify-content-center">
                <div class="box-bar">
                    <div class="row row-cols-auto">
                        <p class="col-8">Buscando por: <span>Editais recentes</span></p>
                        <button class="btn">
                            <span onclick="filterNotice()" class="col">Filtrar <i class="bi bi-filter"></i></span>
                        </button>
                        <form class="d-flex col-3" role="search" id="buscar-edital" enctype="application/x-www-form-urlencoded">
                            <input class="form-control me-2" type="search" id="busca" name="busca" placeholder="Buscar por editais"
                                aria-label="Search" id="busca-parametro"/>
                            <button class="btn btn-outline-success" type="submit">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="container-edital m-2">
                    <div >
                        <ul class="list-group list-group-flush" id="editais">
                            <span class="list-group-item rounded-top" style="background-color: #64375e; color: white">
                            </span>
                            <li class="list-group-item list-group-item-secondary rounded-bottom" aria-current="true">
                                <h4>Editais publicados  - <%= editais.length %> Resultados</h4>
                            </li>
                            <% if (!editais.length) { %>
                                <li class="list-group-item">
                                    <p>Nenhum edital encontrado</p>
                                </li>
                            <% } else { %>
                                <% editais.forEach((el, i) => { %>
                                    <ul class="list-group">
                                        <li class="list-group-item rounded  mt-2 notice-item shadow-sm" onclick="openNotice(Number('<%= i %>'))">
                                          <p href="#" class="link-underline link-underline-opacity-0 mb-0">
                                            <h4 class="text-light mb-0">Edital n° <%= i + 1 %> - <%= el.author %></h4>
                                          </p>
                                          <p class="text-light" style="font-size: 16px;"><%= el.description %></p>
                                        </li>
                                      </ul>
                                <% }); %>
                            <% } %>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
    <div id="editalOverlay" class="overlay hidden">
        <div class="overlay-content">
            <span class="close-btn" onclick="closeNotice()">&times;</span>
            <form>
                <div class="form-row">
                    <div class="form-item">
                        <label style="font-weight: bold"  for="noticeTitle">Edital:</label>
                        <span id="noticeTitle"></span>
                        <hr>
                    </div>
                    <div class="form-item">
                        <label style="font-weight: bold"  for="vaga">Vaga pretendida:</label>
                        <select	name="vaga" id="vaga">
                            <option value="cantor">Cantor</option>
                            <option value="pintor">Pintor</option>
                            <option value="tecladista">Tecladista</option>
                            <option value="baterista">Baterista</option>
                        </select>
                    </div>
                </div>
                <div class="furm p-2" style="width: 100%;">
                    <label for="subscriptionDate" style="font-weight: bold">Data de Inscrição:</label>
                    <span id="subscriptionDate"></span>
                </div>
                <hr>
                <div class="furm p-2">
                    <label for="criteriosSelecao" style="font-weight: bold">Critérios de seleção:</label>
                    <span id="criteriosSelecao"></span>
                </div>
                <button type="button" class="btn btn-danger shadow-lg" style="background-color: #64375E; margin-left: 80%; border: none">Inscrever</button>
            </form>
            <h4 id="editalTitle"></h4>
            <p id="editalDescription"></p>
            <a href="/views/feedback.ejs" style="color: black; margin-right: 100%;"><i class="bi bi-chat-right-text-fill"></i></a>
       </div>
    </div>
</main>
<script defer>
    const cleanJson = '<%- JSON.stringify(editais) %>'.replace(/[\x00-\x1F\x7F-\x9F]/g, '\\n');
    const editais = JSON.parse(cleanJson);
    console.log(editais)
</script>
